:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include fontScale($font-size-smallest-body, $font-size-largest-body);
}

body {
  @extend .u-font-europa;
  @extend .u-color-blanket;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}