/**
 * .c-legal-footer
**/

$component: 'legal-footer';

#{'.' + $global-components-namespace + $component} {
  background: rgba(black, .35);

  &[open] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow-y: auto;
    background-color: rgba(black, .95);
    transition: background-color .1s ease;
  }

  &[open] > summary,
  [open] > summary {
    @extend %u-color-white;
  }

  [open] > &__toggle {

    &:after {
      @extend %u-color-hotmelon;
      @extend %u-weight-bold;
      margin-left: auto;
      content: "\2715";
    }
  }

  &__document-select {
    padding-left: 1rem;
  }

  &__content {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 1rem;

    > * + * {
      margin-top: 1rem;
    }
  }
}