/**
 * .c-level
 */

$component: 'level';

#{'.' + $global-components-namespace + $component} {
  @extend .o-type-tiny;
  @extend %u-uppercase;
  display: inline-block;
  // font-weight: 600;
  padding: .02em .32em;
  line-height: 1.6;
  border-radius: 2px;
  min-width: 22px;
  text-align: right;
  color: $colour-basement;

  &.u-bgcolor-warrior {
    color: $colour-paste;
  }
}