/**
 * .c-level-progress
 */

$component: 'level-progress';

#{'.' + $global-components-namespace + $component} {
  --previous-level-colour: var(--colour-level14);
  --current-level-colour: var(--colour-level15);
  --next-level-colour: var(--colour-level16);

  --progress: 94%;
  --height: 5px;

  height: var(--height);
  
  background-image: linear-gradient(to right, 
    var(--previous-level-colour) 00%, 
    var(--previous-level-colour) 20%, 

    var(--current-level-colour) 40%, 
    var(--current-level-colour) 60%, 

    var(--next-level-colour) 80%,
    var(--next-level-colour) 100%
    );
  border-radius: 4px;

  clip-path: polygon(0 0, var(--progress) 0, calc(var(--progress) + (var(--height) / 2)) 50%, var(--progress) 100%, 0 100%);
  animation: scaleProgress .6s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}