/**
 * .c-notification
 */

$component: 'notification';

#{'.' + $global-components-namespace + $component} {
  @extend .u-z-1;
  @extend .u-pos-relative;
  @extend .u-vspace-03r;
  @extend .u-p-1bl;
  @extend .u-line-error;
  @extend .u-borrad-0022;
  
  &--error {
    @extend .u-color-salmon;
    background: rgba($colour-hotmelon, .25);
    box-shadow: 0 -3px 0 rgba($colour-hotmelon, .5);    
  }

  &--alert {
    background: rgba(67,83,255, .25);
    box-shadow: 0 -3px 0 0 rgba(#51BFFF, .5);
    color: #85D2FF;
  }

  &--info {
    color: #FFF5B7;
    background: rgba(#ffa64d, 0.17);
    box-shadow: 0 -3px 0 0 rgba(#FFF5B7, .5);
  }
}

.c-note--error {}
.c-note--message {}