/**
 * .c-player-photo
 */

$component: 'player-photo';

#{'.' + $global-components-namespace + $component} {
  @include aspect-ratio($aspect-player-photo);
  @extend .u-cover;
  // @extend .u-bgcolor-fold05;
  background-color: #31384D;
  @extend .u-clip-hexagon;

  &--no-photo {
    background-image: url('../img/empty.png');
  }

  &--unassigned {
    opacity: .5;

    &:after {
      @extend .o-abscentre;
      // @extend %u-size-13px;
      // content: '?';
    }
  }

  &__level,
  &__stripe {
    @extend .u-pos-absolute;
    @extend .u-top-0;
    @extend .u-width-100pc;
    @extend .u-height-100pc;
  }

  &__level {
    @extend .u-left-0;
    /* Why does &__stripe need a parent?
    Some mobile browsers throw a fit and hit the whole stripe when you have `filter:` and transform:
    */
    filter: drop-shadow(-1px -1px 3px rgba($colour-basement, 0.5));
  }

  &__stripe {
    --levelThickness: 25%;

    &--only {
      --levelThickness: 60%;
    }

    &:first-of-type {
      left: calc(-1 * var(--levelThickness));
      transform: skew(-60deg) translateX(150%);
    }

    &:nth-of-type(2) {
      // bandit level
      right: calc(-1 * var(--levelThickness));
      transform: skew(60deg) translateX(-150%);
    }
  }

  &__knot {
    transform: translate(-60%, -40%); // magic number
  }
}
