/**
 * .c-player-photo
 */

$component: 'player-photo';

#{'.' + $iota-global-components-namespace + $component} {
  @include aspect-ratio($aspect-player-photo);
  @extend .u-cover;
  @extend .u-bgcolor-fold05;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  &__level {
    @extend .u-pos-absolute;
    @extend .u-top-0;
    @extend .u-width-100pc;
    @extend .u-height-100pc;
    filter: drop-shadow(-1px -1px 3px rgba($colour-basement, 0.5));

    $distance: -25%;

    &:first-of-type {
      left: $distance;
      transform: skew(-60deg) translateX(150%);
    }

    &:nth-of-type(2) {
      // bandit level
      right: $distance;
      transform: skew(60deg) translateX(-150%);
    }
  }

  &__knot {
    transform: translate(-60%, -40%); // magic number
  }
}
