// Modular Scale Tool




// Options

$tools-ms-ratio  : 1.2 !default;
$tools-ms-base   : 15px !default;
$tools-ms-scale  : 3 !default;




// Helper functions

@function _iota-decimal-round(
  $number,
  $digits: $tools-ms-scale
) {

  $num: 1;

  @for $i from 1 through $digits {
    $num: $num * 10;
  }

  @return round( $number * $num ) / $num;

}




@function iota-ms(
  $increment,
  $base   : $tools-ms-base,
  $ratio  : $tools-ms-ratio,
  $scale  : $tools-ms-scale
) {

  @if $increment > 0 {
    @for $i from 1 through $increment {
      $base: $base * $ratio;
    }
  }

  @if $increment < 0 {
    @for $i from -1 through $increment {
      $base: $base / $ratio;
    }
  }

  @return _iota-decimal-round($base, $scale);

}
