$breakpoint-window-gap: 360px;
$breakpoint-max: 536px;

$breakpoint-app-gap: 490px;

$breakpoint-smallest-font: 320px;
$breakpoint-largest-font: $breakpoint-max;

$global-breakpoints: (

  uptowindowgap:
  'screen and (max-width: '$breakpoint-window-gap - 1')',

  fromwindowgap:
  'screen and (min-width: '$breakpoint-window-gap')',

  uptomax:
  'screen and (max-width: '$breakpoint-max - 1')',

  frommax:
  'screen and (min-width: '$breakpoint-max')',

  fromappgap:
  'screen and (min-width: '$breakpoint-app-gap')',

);
