$colour-basement: #000207;
$colour-fold: #0F121F;
$colour-fold05: rgba($colour-fold, .5);
$colour-floor: saturate(#1D2438, 5%);
$colour-floor05: rgba($colour-floor, .5);

$colour-playdough: #3CB1FF;
$colour-blanket: #ADC8FA;
$colour-paste: #DCE4F7;
$colour-deepblue: #1F3A83;
$colour-mariana: #1E2D59;

$colour-steam: #626F94;

$colour-orange: #FF7048;
$colour-satsuma: #F29E44;

$colour-hotmelon: #F5515F;
$colour-salmon: #FFA6BF;

$colour-puss: #FAD5AD;
$colour-puss2: #FAD549;

$colour-win: #9CEB6E;
$colour-loss: $colour-hotmelon;

$colour-white: #FFFFFF;

// oranges
$colour-bandit: $colour-orange;
$colour-god: #F7B874;
$colour-legendary: #F7E094;
$colour-monster: #FCFBD7;

// greens
$colour-warrior: #24E25D;
$colour-ninja: #9CEB6E;
$colour-assassin: #BDF896;
$colour-knight: #E5FCD7;

// blues
$colour-fighter: #0DC4E0;
$colour-scout: #6EEBE9;
$colour-junior: #97F7E6;
$colour-rookie: #D7F3FC;

$shared-colours: (
  ($colour-bandit, 'bandit'),
  ($colour-god, 'god'),
  ($colour-legendary, 'legendary'),
  ($colour-monster, 'monster'),
  ($colour-warrior, 'warrior'),
  ($colour-ninja, 'legendary'),
  ($colour-assassin, 'assassin'),
  ($colour-knight, 'knight'),
  ($colour-fighter, 'fighter'),
  ($colour-scout, 'scout'),
  ($colour-junior, 'junior'),
  ($colour-rookie, 'rookie'),
);




$colour-level1: #F7F5BC;
$colour-level2: #EBE66E;
$colour-level3: #DECD3A;

$colour-level4: #97F7CE;
$colour-level5: #6EEBA0;
$colour-level6: #24E25D;

$colour-level7: #C7F7B2;
$colour-level8: #A8EB6E;
$colour-level9: #87CF0C;

$colour-level10: #BEDCF7;
$colour-level11: #78D4FF;
$colour-level12: #00BDDE;

$colour-level13: #BF97F7;
$colour-level14: #9A78FF;
$colour-level15: #3424E0;



$colour-beginner: $colour-level1;
$colour-starter: $colour-level2;
$colour-amateur: $colour-level3;

$colour-rookie: $colour-level4;
$colour-learner: $colour-level5;
$colour-novice: $colour-level6;

$colour-student: $colour-level7;
$colour-apprentice: $colour-level8;
$colour-trainee: $colour-level9;

$colour-recruit: $colour-level10;
$colour-junior: $colour-level11;
$colour-scout: $colour-level12; // 1200

$colour-fighter: $colour-level13;
$colour-gladiator: $colour-level14;
$colour-warrior: $colour-level5; // 1200




// greys
// $colour-newcomer //Newcomer (<10 games played)

// Junior <= 849
// Rookie <= 1099
// Scout <= 1199
// Intermediate <= 1299 "for a level of knowledge or skill between basic and advanced"
// Fighter <= 1399
// Knight <= 1499
// Assassin <= 1599
// Ninja <= 1699
// Warrior <= 1799
// Mega <= 1899
// Monster <= 1999
// Legendary<= 2099
// Lord <= 2199
// God >
