$colour-basement: #000207;
$colour-fold: #151828 /* #0F121F */;
$colour-obsidian: #101421;
$colour-fold05: rgba($colour-fold, .5);
$colour-floor: saturate(#1D2438, 5%);
$colour-floor05: rgba($colour-floor, .5);

$colour-playdough: #3CB1FF;
$colour-blanket: #ADC8FA;
$colour-paste: #DCE4F7;


$colour-whale: #9EB6BA;
$colour-steam: #626F94;
$colour-deck: #2D3248;

$colour-deepblue: #1F3A83;
$colour-mariana: #1E2D59;

$colour-orange: #FF7048;
$colour-satsuma: #F29E44;

$colour-hotmelon: #F5515F;
$colour-salmon: #FFA6BF;

$colour-puss: #FAD5AD;
$colour-puss2: #FAD549;

$colour-win: #9CEB6E;
$colour-loss: $colour-hotmelon;

$colour-white: #FFFFFF;


// levels in coloured groups
$colour-level0: $colour-whale; // unrated
$colour-level100: $colour-orange; // top ranked

$colour-level1: #F7F5BC;
$colour-level2: #EBE66E;
$colour-level3: #DECD3A;

$colour-level4: #97F7CE;
$colour-level5: #6EEBA0;
$colour-level6: #24E25D;

$colour-level7: #C7F7B2;
$colour-level8: #A8EB6E;
$colour-level9: #87CF0C;

$colour-level10: #BEDCF7;
$colour-level11: #78D4FF;
$colour-level12: #00BDDE;

$colour-level13: #BF97F7;
$colour-level14: #9A78FF;
$colour-level15: #3424E0;

$colour-level16: #E197F7;
$colour-level17: #C978FF;
$colour-level18: #7624E0;

$colour-level19: #F797E9;
$colour-level20: #E96EEB;
$colour-level21: #BF24E2;

$colour-level22: #FCA2B2;
$colour-level23: #FF7081;
$colour-level24: #FF4769;

$colour-level25: #F7E094;
$colour-level26: #F7952D;
$colour-level27: #E8360E;


// levels named with classname slugs
$colour-unrated: $colour-level0;
$colour-bandit: $colour-level100;

$colour-beginner: $colour-level1;
$colour-starter: $colour-level2;
$colour-amateur: $colour-level3;

$colour-rookie: $colour-level4;
$colour-learner: $colour-level5;
$colour-novice: $colour-level6;

$colour-student: $colour-level7;
$colour-apprentice: $colour-level8;
$colour-trainee: $colour-level9;

$colour-recruit: $colour-level10;
$colour-junior: $colour-level11;
$colour-scout: $colour-level12; // 1200

$colour-fighter: $colour-level13;
$colour-gladiator: $colour-level14;
$colour-warrior: $colour-level15;

$colour-assassin: $colour-level16;
$colour-samurai: $colour-level17;
$colour-ninja: $colour-level18;

$colour-monster: $colour-level19;
$colour-mammoth: $colour-level20;
$colour-beast: $colour-level21;

$colour-oracle: $colour-level22;
$colour-ultra: $colour-level23;
$colour-mega: $colour-level24;

$colour-mythical: $colour-level25;
$colour-legendary: $colour-level26;
$colour-god: $colour-level27; // 2550+