:root {
  --ViewportWidth: 100vw;
  --ContainerWidth: calc(var(--WindowWidth) - (var(--Baseline) * 2));

  @include iota-breakpoint(uptowindowgap) {
    --Baseline: 9px;
  }

  @include iota-breakpoint(fromwindowgap) {
    --Baseline: 12px;
    --WindowWidth: calc(var(--ViewportWidth) - (var(--Baseline) * 2));
  }

  @include iota-breakpoint(frommax) {
    --ViewportWidth: 516px;
  }
}
