:root {
  --scrollbar-width: 0px;
  --viewport-width: calc(100vw - var(--scrollbar-width));

  // viewport > window > container

  --window-width: var(--viewport-width);
  --container-width: calc(var(--window-width) - (var(--baseline) * 2));

  @include iota-breakpoint(uptowindowgap) {
    --baseline: 9px;
  }

  @include iota-breakpoint(fromwindowgap) {
    --window-width: calc(var(--viewport-width) - (var(--baseline) * 2));
    --baseline: 12px;
  }

  @include iota-breakpoint(frommax) {
    --window-width: 516px;
  }
}
