$font-size-go-button: 14px;
$font-size-largest-body: 15px;

$font-size-h1: #{28px / $font-size-largest-body}rem;
$font-size-h2: #{22px / $font-size-largest-body}rem;
$font-size-h3: #{20px / $font-size-largest-body}rem;
$font-size-h4: #{18px / $font-size-largest-body}rem;
