$font-size-smallest-body: 14px;
$font-size-largest-body: 15px;

$font-size-h0: #{66px / $font-size-largest-body}rem;
$font-size-h1: #{23px / $font-size-largest-body}rem;
$font-size-h2: #{21px / $font-size-largest-body}rem;
$font-size-h3: #{19px / $font-size-largest-body}rem;
$font-size-h4: #{17px / $font-size-largest-body}rem;
$font-size-h5: #{16.5px / $font-size-largest-body}rem;

$font-size-go-button: 14px;