$utilities-background-settings: (
  (
    property: ('background-color', 'bgcolor'),

    values: (
      (
        // Levels
        #{$shared-colours},
        
        ($colour-basement, 'basement'),
        ($colour-fold, 'fold'),
        ($colour-fold05, 'fold05'),
        ($colour-floor, 'floor'),
        ($colour-deepblue, 'deepblue'),
        ($colour-mariana, 'mariana'),
      ),
      (
        value: ($colour-floor05, 'floor05'),
        pseudos: ('hover', 'focus'),
      ),
    ),
  ),
  (
    property: ('background-size', ''),

    values: (
      (
        'cover',
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-background-settings);