$utilities-background-settings: (
  (
    property: ('background-color', 'bgcolor'),

    values: (
      (
        ($colour-basement, 'basement'),
        ($colour-fold, 'fold'),
        ($colour-fold05, 'fold05'),
        ($colour-floor, 'floor'),
        ($colour-deepblue, 'deepblue'),
        ($colour-mariana, 'mariana'),

        // Levels
        ($colour-bandit, 'bandit'),
        ($colour-god, 'god'),
        ($colour-legendary, 'legendary'),
        ($colour-monster, 'monster'),
        ($colour-warrior, 'warrior'),
        ($colour-ninja, 'legendary'),
        ($colour-assassin, 'assassin'),
        ($colour-knight, 'knight'),
        ($colour-fighter, 'fighter'),
        ($colour-scout, 'scout'),
        ($colour-junior, 'junior'),
        ($colour-rookie, 'rookie'),
      ),
      (
        value: ($colour-floor05, 'floor05'),
        pseudos: ('hover', 'focus'),
      ),
    ),
  ),
  (
    property: ('background-size', ''),

    values: (
      (
        'cover',
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-background-settings);