$utilities-color-settings: (
  (
    property: 'color',

    values: (
      (
        ($colour-blanket, 'blanket'),
        ($colour-paste, 'paste'),
        ($colour-steam, 'steam'),
        ($colour-hotmelon, 'hotmelon'),
        ($colour-salmon, 'salmon'),
        ($colour-basement, 'basement'),
        ($colour-win, 'win'),
        ($colour-loss, 'loss'),
        ($colour-orange, 'orange'),
        ($colour-puss, 'puss'),

        // Levels
        ($colour-bandit, 'bandit'),
        ($colour-newcomer, 'newcomer'),

        ($colour-beginner, 'beginner'),
        ($colour-starter, 'starter'),
        ($colour-amateur, 'amateur'),

        ($colour-rookie, 'rookie'),
        ($colour-learner, 'learner'),
        ($colour-novice, 'novice'),

        ($colour-student, 'student'),
        ($colour-apprentice, 'apprentice'),
        ($colour-trainee, 'trainee'),

        ($colour-recruit, 'recruit'),
        ($colour-junior, 'junior'),
        ($colour-scout, 'scout'),

        ($colour-fighter, 'fighter'),
        ($colour-gladiator, 'gladiator'),
        ($colour-warrior, 'warrior'),

        ($colour-assassin, 'assassin'),
        ($colour-samurai, 'samurai'),
        ($colour-ninja, 'ninja'),

        ($colour-monster, 'monster'),
        ($colour-mammoth, 'mammoth'),
        ($colour-beast, 'beast'),

        ($colour-oracle, 'oracle'),
        ($colour-ultra, 'ultra'),
        ($colour-mega, 'mega'),

        ($colour-mythical, 'mythical'),
        ($colour-legendary, 'legendary'),
        ($colour-god, 'god'),
      ),
      (
        value: ($colour-white, 'white'),
        pseudos: ('hover', 'focus'),
      ),
      (
        value: ($colour-playdough, 'playdough'),
        pseudos: 'hover',
      ),
    ),
  ),
  (
    property: ('background-size', ''),

    values: (
      (
        'cover',
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-color-settings);
