$utilities-background-settings: (
  (
    property: ('background-color', 'bgcolor'),

    values: (
      (
        value: ($colour-floor05, 'floor05'),
        pseudos: ('hover', 'focus'),
      ),
      (
        ($colour-basement, 'basement'),
        ($colour-fold, 'fold'),
        ($colour-fold05, 'fold05'),
        ($colour-floor, 'floor'),
        ($colour-deepblue, 'deepblue'),
        ($colour-mariana, 'mariana'),

        // Levels
        ($colour-bandit, 'bandit'),
        ($colour-newcomer, 'newcomer'),

        ($colour-beginner, 'beginner'),
        ($colour-starter, 'starter'),
        ($colour-amateur, 'amateur'),

        ($colour-rookie, 'rookie'),
        ($colour-learner, 'learner'),
        ($colour-novice, 'novice'),

        ($colour-student, 'student'),
        ($colour-apprentice, 'apprentice'),
        ($colour-trainee, 'trainee'),

        ($colour-recruit, 'recruit'),
        ($colour-junior, 'junior'),
        ($colour-scout, 'scout'),

        ($colour-fighter, 'fighter'),
        ($colour-gladiator, 'gladiator'),
        ($colour-warrior, 'warrior'),

        ($colour-assassin, 'assassin'),
        ($colour-samurai, 'samurai'),
        ($colour-ninja, 'ninja'),

        ($colour-monster, 'monster'),
        ($colour-mammoth, 'mammoth'),
        ($colour-beast, 'beast'),

        ($colour-oracle, 'oracle'),
        ($colour-ultra, 'ultra'),
        ($colour-mega, 'mega'),

        ($colour-mythical, 'mythical'),
        ($colour-legendary, 'legendary'),
        ($colour-god, 'god'),
      ),
    ),
  ),
  (
    property: ('background-size', ''),

    values: (
      (
        'cover',
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-background-settings);
