$utilities-width-settings: (
  (
    property: 'width',

    values: (
      (
        '0',
        '1px',
        '4rem',
        '2ch',
        '4ch',
        ('100%', '100pc'),
        ('calc(var(--baseline) * 1)', '1bl'),
        ('calc(var(--baseline) * 2)', '2bl'),
        ('calc(var(--baseline) * 2.5)', '205bl'),
        ('calc(var(--baseline) * 3)', '3bl'),
        ('calc(var(--baseline) * 4)', '4bl'),
        ('calc(var(--baseline) * 6)', '6bl'),
        ('var(--window-width)', 'window'),
        ('var(--container-width)', 'container'),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-width-settings);
