$utilities-flex-settings: (
  (
    property: ('filter', ''),

    values: (
      (
        ('blur(.6px)', 'blur-tiny'),
        ('blur(0)', 'blur0'),
      ),
      (
        value: ('blur(0)', 'blur0'),
        pseudos: ('hover'),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-flex-settings);