$utilities-margin-settings: (
  (
    property: ('margin-top', 'mt'),

    values: (
      (
        'auto',
        (calc(var(--baseline) * 1), '1bl'),
        (calc(var(--baseline) * 2), '2bl'),
        (calc(var(--baseline) * 3), '3bl'),
        (calc(var(--baseline) * 4), '4bl'),
      ),
    ),
  ),
  (
    property: ('margin-top', 'vspace-all'),

    values: (
      (
        value: (calc(var(--baseline) * 3), '3bl'),
        combinator: $combinator-child,
      ),
    ),
  ),
  (
    property: ('margin-top', 'vspace'),

    values: (
      (
        value: ('.3rem', '03r'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: ('.6rem', '06r'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: '1px',
        combinator: $combinator-child-siblings,
      ),
      (
        value: (calc(var(--baseline) * 0.5), '05bl'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: (calc(var(--baseline) * 1), '1bl'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: (calc(var(--baseline) * 1.5), '105bl'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: (calc(var(--baseline) * 2), '2bl'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: (calc(var(--baseline) * 3), '3bl'),
        combinator: $combinator-child-siblings,
      ),
    ),
  ),
  (
    property: ('margin-right', 'mr'),

    values: (
      (
        'auto',
        (calc(var(--baseline) * 1), '1bl'),
        (calc(var(--baseline) * 2), '2bl'),
      ),
    ),
  ),
  (
    property: ('margin-left', 'ml'),

    values: (
      (
        'auto',
        (calc(var(--baseline) * 1), '1bl'),
      ),
    ),
  ),
  (
    property: ('margin-bottom', 'mb'),

    values: (
      (
        'auto',
      ),
    ),
  ),
  (
    property: ('margin-left', 'hspace'),

    values: (
      (
        value: (calc(var(--baseline) * .5), '05bl'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: (calc(var(--baseline) * 1), '1bl'),
        combinator: $combinator-child-siblings,
      ),
      (
        value: (calc(var(--baseline) * 2), '2bl'),
        combinator: $combinator-child-siblings,
      ),
      (
        start: 1,
        end: 8,
        unit: 'px',
        combinator: $combinator-child-siblings,
      ),
    ),
  ),
  (
    property: (('margin-right', 'margin-left'), 'mh'),

    values: (
      (
        'auto',
      ),
    ),
  ),
  (
    property: (('margin-top', 'margin-bottom'), 'mv'),

    values: (
      (
        ('var(--window-gap)', 'window'),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-margin-settings);
