$utilities-opacity-settings: (
  (
    property: ('opacity', 'opac'),

    values: (
      (
        '0',
        ('0.2', '02'),
        ('0.25', '025'),
        ('0.5', '05'),
        ('0.7', '07'),
      ),
      (
        value: '1',
        pseudos: ('hover', 'focus'),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-opacity-settings);